div {
  width: 60vh;
  padding-bottom: 8px;
}

.breweries {
  display: contents;
  height: 100vh;
  padding-bottom: 25em;
  flex-direction: column;
}

h1 {
  color: rgb(127, 255, 165);
  opacity: .6
}

.brewery-container {
  display: flex;
  margin-bottom: 15px;
}

.breweries-display {
  display: flex;
  margin: 1em 20px 20px 20px;
  width: -moz-fit-content;
  width: 97vw;
  height: auto;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

