div {
  background: rgba(233, 230, 230, 0.735);
  width: 60vh;
}

.breweries-display {
  height: fit-content;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}