img {
  width: 5vh;
}

.brew-details {
  display: flex;
  background: rgba(245, 238, 229, 0.909);
  width: 36vh;
  border: rgba(44, 191, 14, 0.609);
  border-radius: 5px;
  height: 20em;
  padding: 59vh -1vw -7vh 2em;
  box-shadow: 0 0 15px 4px rgb(44 191 14 / 61%);
  flex-direction: column;
  justify-content: space-between;
}

button {
  background: none;
  color: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  border: none;
  background: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25px;
  width: 25px;
}