/* div {
  height: 60%
} */

.error {
  width: auto;
  height: 61vh;
  background: url('../../assets/thirsty.gif') no-repeat center center; 
  /* -webkit-background-size: cover; */
  /* -moz-background-size: cover; */
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: whitesmoke;
  font-family: none;
}