.error {
  width: 90vh;
  height: 61vh;
  background: url('../../assets/thirsty.gif') no-repeat center center; 
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: whitesmoke;
  font-family: none;
}