/* body {
} */

img {
  width: 5vh;
}

.saved-faves {
  border: hotpink 3px solid;
  background: rgba(245, 238, 229, 0.909);
  width: 40vh;
  border: black 2px solid;
  border-radius: 5px;
  height: 50vh;
  margin: 7vh -1vw -4vh 1em;
  padding-top: none;
}

button {
  background: none;
  color: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  border: none;
  background: none;
}