.zip-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100vw;
  color: white;
  position: relative;
}

input[type='number'] {
  width: 85vw;
  height: auto;
  padding: 0;
  font-size: 15vh;
  font-weight: bold;
  color: #ebffed;
  text-align: center;
  text-shadow: 0 0 20px rgba(125, 210, 122, 0.757);
  background-color: rgba(11, 12, 11, 0.857);
  border: solid 3px rgba(125, 210, 122, 0.25);
  outline: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']:focus {
  color: #fff;
  text-shadow: 0 0 25px rgba(125, 210, 122, 0.757);
}

button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3vh;
  font-weight: bold;
  text-align: end;
  color: #fff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
  background-color: rgba(44, 191, 14, 1);
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: rgba(44, 191, 14, 0.8);
  text-shadow: 0 0 5px rgba(44, 191, 14, 1);
}

button:active {
  background-color: rgba(44, 191, 14, 0.6);
  text-shadow: none;
}
